<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 520px; margin: 0 auto">
  <h1><%=title%></h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
    voluptas quod, ducimus dolorum architecto in, laboriosam quos totam soluta
    fugiat, a illum quibusdam minus.
  </p>

  <p>Build with Node&Express.js and MongoDB&Mongoose</p>
</div>

<%- include('./partials/footer.ejs') %>
